@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #355E3B; /* Default primary color */
  --color-secondary: #d4e2d4; /* Default secondary color */
  --color-light-bg: #3642377c;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: var(--color-secondary);
  background-color: var(--color-light-bg);
}

body {
  max-width: 1200px;
  margin: auto
}
