@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #274c77; /* Default primary color */
  --color-secondary: #6096ba; /* Default secondary color */
  --color-light-bg: #e7ecef;
  --color-sky-bg: #a3cef1;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: var(--color-secondary);
  background-color: var(--color-light-bg);
}

body {
  max-width: 1200px;
  margin: auto;
}

@font-face {
  font-family: 'Dubiel';
  src: url('../src/assets/fonts/Quattrocento-Regular.ttf') format('truetype');
}
